{% extends 'Base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('MyAccount.static',filename='/CSS/MyAccount.css') }}"/>
{% endblock %}

{% block SecondTitle %}
    {% if session['logged_in'] %}
        <div class="ThirdHeader">
            <div>
                <h3>{{ session['fullName'] }}</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block MainBlock %}
    {% include('MyAccountForm.html') %}
    <div class="ButtonsRow">
        <button type="submit" id="submitButton" class="smallButton">החלף סיסמה</button>
        <a href="/" class="smallButton">חזרה לתפריט</a>
    </div>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('MyAccount.static', filename='JS/MyAccount.js') }}"></script>
{% endblock %}