{#<form class="registration-form" action="#" method="post">#}
{#    <div class="title">#}
{#        <h5>החלפת סיסמה</h5>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="form-group">#}
{#            <label for="password">:סיסמה ישנה</label>#}
{#            <input type="password" id="password" name="password" required>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="form-group">#}
{#            <label for="password">:סיסמה חדשה</label>#}
{#            <input type="password" id="newPassword" name="password" required>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="form-group">#}
{#            <label for="password">:אימות סיסמה</label>#}
{#            <input type="password" id="newPassword2" name="password" required>#}
{#        </div>#}
{#    </div>#}
{#</form>#}

<form class="registration-form" action="#" method="post">
    <div class="title">
        <h5>החלפת סיסמה</h5>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="password">:סיסמה ישנה</label>
            <input type="password" id="password" name="password" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="password">:סיסמה חדשה</label>
            <input type="password" id="newPassword" name="password" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="password">:אימות סיסמה</label>
            <input type="password" id="newPassword2" name="password" required>
        </div>
    </div>
</form>
<div class="rating-section">
    <div class="rating-title">:הדירוג הממוצע שלי</div>
    <div id="averageRating" class="rating-value">...טוען דירוג</div>
</div>